.tabs-container .panel-body {
    background: #fff !important;
    border: 1px solid #1ab394 !important;
    border-radius: 2px !important;
    padding: 20px !important;
    position: relative !important;
	//border-top: none !important;
}
/*.tabs-container .nav-tabs {
    border-bottom: 1px solid #1ab394 !important;
} */
.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #1ab394 !important;
    border-bottom-color: transparent !important;
}
.tabs-container .nav-tabs > li a:hover {
    background: transparent !important;
    border-color: transparent !important;
    background: #1ab394 !important;
    color: white !important;
}
.nav-tabs > li > a {
    font-weight: 600 !important;
    padding: 10px 20px 10px 25px !important;
    border: solid 1px #1ab394 !important;	
	color:#2d2d2d !important;
	position: relative !important;
    top: 2px !important;
}
.nav-tabs > li.active > a {
    color: white !important;
    font-weight: 600 !important;
    background: #1ab394 !important;
    padding: 10px 20px 10px 25px !important;
}

.margiontopnew {
    margin-top: 7px !important;
}

.seperater{
       margin: 25px;
    border-bottom: 1px dotted #18446d;
}