@charset "utf-8";
/* CSS Document */
.dashboard-mainimg {
    width: 100%;
    height: auto;
}
.dropbtn {
    background-color: #00AEEF;
    color: white;
    padding: 4px;
    font-size: 13px;
    border: none;
    cursor: pointer;
	width: 160px;
	height:32px;
	border-radius: 5px;
	padding: 4px;
	margin-top: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0095cd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	color:white;
}

.dropdown-content a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
	font-size: 13px;
}

.dropdown-content a:hover {background-color: #00AEEF}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00AEEF;
}
.dropdown-content.drop a {
    color: #fff;
}
.dropdown-content.drop a:hover{
	background-color:#457093;
}
.button {
  display: inline-block;
  padding: 6px 25px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00ADEF;
  border: none;
  border-radius: 5px;
 /* box-shadow: 0 9px #999;*/
}

/*.button:hover {background-color: #00ADEF}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/
#page-wrapper {padding: 0; height:auto;}
/*.wrapper-content {float:left;padding: 0;}*/
.clsbreadcrumb{float:left; margin:25px 0; width:100%; padding-left:2%;}
.clsaddnewvendorform {float: left;height: auto;width: 100%;}
.clsheaderbanner {padding: 0;}
.clsheaderbanner img {width: 100%;height: auto;}
.clsformelements {float: left;width: 100%;margin-bottom: 0px;}
.clsformelements label {float: left; text-align: right; padding: 5px 0;font-weight: 400;/*font-size: 16px;*/ color:#111;}
.form-control, .single-line {padding: 0px 12px;}
.clsformelements input {border:solid 1px #515151;}
.clsformelements select {border:solid 1px #515151;}
.clsformelements h3{font-size:21px; font-weight:600; color:#353535;}
.clsformelements button {float: left; width: 20%; margin: 0 2.5%;}
.clsbutton {display:inline-block;padding:6px 25px;font-size:12px;cursor:pointer;text-align:center;text-decoration:none;outline:none;color:#fff;background-color:#00ADEF;border:none;border-radius:5px;box-shadow: 0 2px #999;}
/*.clsbutton:hover {background-color: #00ADEF}
.clsbutton:active {background-color: #3e8e41;box-shadow: 0 5px #666;transform: translateY(4px);}*/

.form-control {height: 26px;margin:0;}
.form-group input {margin: 0;}
.companylogo{margin-top:30px; float:left;}


.selectlables {
    
    height: 250px;
    border: solid 1px #0199ca;
    border-radius: 10px;
    margin: 50px 2.5%;
    background-color: #ffffff;
    float: left;
    margin-left: 4.5%;
    padding-top: 12px;
}
.selectlables img {
    height: 100px;
    width: 120px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: 0.3s;
}